name: k6 Load Test Suite

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  push:
    branches: [master]
  pull_request:
    branches: [master]
    
  workflow_dispatch:
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
 k6-load-test:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Run test on local
        uses: k6io/action@v1.0
        with:
          filename: basicTest01.js
 build:
   runs-on: ubuntu-latest

   steps: 
    - uses: actions/checkout@v4
    #Runs a single line command using the runners shel
    - name: Run a one-line script
      run: echo hello, world!

    #Runs a et of commands using the runners shell.
    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.

      
